:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html[data-theme='dark'] #root {
  filter: invert(1) hue-rotate(180deg);
}

html[data-theme='dark'] #root img,
html[data-theme='dark'] #root video,
html[data-theme='dark'] #root canvas,
html[data-theme='dark'] #root iframe {
  filter: invert(1) hue-rotate(180deg);
}
